/* BASIC FORMATTING */
.wrapper {
  padding: 24px;
}

p, a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  padding: 12px 17px 12px 17px;
  border: none;
  border-radius: 20px;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2rem;
  font-weight: bold;
}

header h1 {
  color: #4d1e1e;
}

h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #DC1F77;
  font-size: 3rem;
  padding-bottom: 12px;
}

main {
  background-color: #FFCCE7;
}

/* ******************************************************************************** */
/* ******************************** MOBILE VERSION ******************************** */
/* ******************************************************************************** */


/* ******* MENU ******* */
.logo {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  height: 10%;
  padding: 10px;
}

.header {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #ffdff0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-height: 0;
  transition: max-height .5s ease-out;
}

nav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style-type: none;
  display:inline-block;
  vertical-align:top;
}

nav ul li a {
  font-size: 1.75rem;
  text-decoration: none;
  display: block;
  padding: 30px;
  color: black;
}

nav ul li a:hover {
  background-color: #ffcce6;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 25px;
}/* Style label tag */

.hamb-line {
  background: #EE589F;
  display: block;
  height: 2.5px;
  position: relative;
  width: 30px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: #EE589F;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -10px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/* Banner */
.hero {
  height: 400px;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  position: relative;
  z-index: -1;
}

.hero h1 {
  font-size: 3rem;
  padding: 50px;
}

/* ******* MAIN CONTENT ******* */
.gradient {
  top: 435px;
  height: 50px;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(255, 204, 231, 0), #FFCCE7);
  z-index: -1;
}

/* Call To Action Section */
.cta {
  text-align: center;
}

.cta h2 {
  font-size: 1.8rem;
}

.cta p {
  padding-bottom: 15px;
}

/* Gallery */
.gallery {
  background-color: #ffa5d3;
}

.gallery h2 {
  padding: 0 20px 0 0;
  text-align: center;
}

/*center the heading and lines*/
.pa-heading-line-both h2 {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/*add and adjust the lines*/
.pa-heading-line-both h2:before,
.pa-heading-line-both h2:after {
	content: '';
	border-top: 2px solid;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
	color: #DC1F77;
}
/*add spacing between heading and lines*/
.pa-heading-line-both h2:after {
	margin: 0 0 0 20px;
}

.gallery img {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 25%;
  height: 25%;
}

/* Our Cakeries Section */
.our-cakeries {
  background-color:#f74e9d;
}

.our-cakeries-text {
  padding: 25px;
}

.our-cakeries h2 {
  color: white;
}

.our-cakeries img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Say Hello Section */
.say-hello-text {
  padding: 25px;
}

.say-hello img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ******* FOOTER ******* */
footer {
  background-color: #DC1F77;
}

footer img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.socials {
  text-align: center;
}

.socials a {
  text-align: center;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: 7px;
}

/* ******************************************************************************** */
/* ******************************** TABLET VERSION ******************************** */
/* ******************************************************************************** */
@media (min-width: 768px) {

}

/* ********************************************************************************* */
/* ******************************** DESKTOP VERSION ******************************** */
/* ********************************************************************************* */
@media (min-width: 992px) {
  .wrapper {
    max-width: 100%;
    padding-left: 200px;
    padding-right: 200px;
  }

    /* ******** Header ******** */
    /* Banner */
  .hero {
    height: 900px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
  }

  .hero h1 {
    font-size: 7.5rem;
    padding: 150px;
  }
  
  /* Logo */
  .logo {
    width: 4%;
    height: 4%;
  }

  /* Navigation */
  nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    font-size: 1.75rem;
    text-decoration: none;
    display: block;
    padding: 30px;
    color: black;
  }
  
  nav ul li a:hover {
    background-color: transparent;
  }
  
  /* Menu Icon */
  .hamb{
    display: none;
  }

  /* ******** Main Content ******** */
  h2 {
    font-size: 3rem;
  }

  /* ******** Footer ******** */
  footer img {
    width: 20%;
    height: 20%;
  }
}